{:paths ["src" "resources"]
 :deps   {org.clojure/clojure {:mvn/version "1.10.1"}

          http-kit/http-kit   {:mvn/version "2.3.0"}
          compojure/compojure {:mvn/version "1.6.1"}

          ring/ring-core  {:mvn/version "1.8.1"}
          ring/ring-devel {:mvn/version "1.8.1"}}
 :dev    {:extra-deps {ring/ring-mock {:mvn/version "0.4.0"}}}
 :aliases
 {:run-m {:main-opts ["-m" "practicalli.status-monitor-service"]}
  :run-x {:ns-default practicalli.status-monitor-service
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.4.0" :git/sha "54e39ae"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.0" :git/sha "48c3c67"}}}}}
